<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>
  <h1>User List</h1>
  <table id="userTable">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <a href="/users/edit/<%= user._id %>">Edit</a>
            <a href="/users/delete/<%= user._id %>">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#userTable').DataTable();
    });
  </script>
</body>
</html>
