<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>

    <div id="chatMessages"></div>

    <input type="text" id="messageInput" placeholder="Type your message" />

    <button id="sendMessageBtn">Send</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
